@font-face {
  font-family: "inter";
  src: url(./assets/font/Inter.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #18181b;
  --primary-btn: #0c0c0c;
  --secondary: #ff9f32;
  --gray: #f1f1f1;
  --orange-bg: #fff1e7;
  --background: #fbfbfb;
  --yellow-bg: #fffaf4;
  --vet-bg: #f4f4ff;
  --shadow: 0px 17.7729px 54.686px rgba(27, 25, 86, 0.06);
  --filter: invert(21%) sepia(43%) saturate(3218%) hue-rotate(111deg)
    brightness(96%) contrast(91%);
}

/* reset style */

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem !important;
}

.p-datatable .p-datatable-thead > tr > th {
  font-size: 14px !important;
}

.p-datatable .p-datatable-tbody > tr {
  color: #495057;
  font-size: 14px !important;
}

.p-button {
  color: #ffffff;
  background: var(--primary) !important;
  border: 1px solid #00ff58 !important;
}

body {
  font-family: "inter" !important;
  overflow-x: hidden;
}

.p-inputtext,
.p-password,
.p-dropdown {
  width: 100%;
  height: 50px;
}

.p-input-icon-left > i,
.p-input-icon-right > i,
.p-input-icon-left > svg,
.p-input-icon-right > svg,
.p-input-icon-left > .p-input-prefix,
.p-input-icon-right > .p-input-suffix {
  position: absolute;
  top: 50%;
  margin-top: 0rem;
  transform: translateY(-30%);
}

.p-float-label input:focus ~ label,
.p-float-label input:autofill ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label,
.p-float-label .p-tooltip-target-wrapper ~ label {
  top: 0rem !important;
  font-size: 12px !important;
  background: white;
  padding: 4px;
}

.p-inputtext:enabled:focus {
  box-shadow: none !important;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover,
.p-checkbox .p-checkbox-box.p-highlight {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: none !important;
  border-color: var(--primary) !important;
}

.greenOverlay {
  filter: var(--filter);
}

.checkbox-group {
  height: 58px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 6px;
}

.p-selectbutton .p-button.p-highlight {
  background: white !important;
  border-color: #52ce06 !important;
  color: #1d2432 !important;
}

.p-selectbutton .p-button {
  padding: 20px;
}

.p-inputtext,
.p-password,
.p-multiselect {
  height: 50px;
}

textarea {
  height: 200px !important;
  width: 100%;
  resize: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
}

.p-multiselect .p-multiselect-label {
  padding: 1.45rem 0.75rem !important;
}

.p-inputtext {
  margin: 0;
  padding-bottom: 0px;
  font-size: 0.80rem !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: var(--primary) !important;
  background: #eeffea !important;
  box-shadow: none !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  font-size: 0.8rem !important;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: none !important;
  box-shadow: none !important;
  border: 1px solid var(--primary) !important;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider::before {
  background: var(--primary) !important;
}

.p-chips {
  width: 100%;
}

.p-chips .p-chips-multiple-container .p-chips-token {
  font-size: 0.75rem !important;
  padding: 0.175rem 0.45rem;
  margin-top: 5px;
}

.p-chips-multiple-container{
  height: 100%;
}

.error {
  font-size: 0.8rem;
  color: red;
}

button:disabled {
  background: grey;
}

.secondary__btn {
  height: clamp(50px, 4.5vw, 55px);
  background: white;
  background-size: cover;
  padding: 15px 40px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  color: rgb(48, 48, 48);
  border: 1px solid gray;
  border-radius: 8px;
  font-weight: bold;
  background-position: left;
  transition: all 300ms ease-in-out;
}

.tertiary__btn {
  height: clamp(50px, 4.5vw, 55px);
  background: var(--secondary);
  background-size: cover;
  padding: 15px 40px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  color: rgb(48, 48, 48);
  border: 1px solid var(--secondary);
  border-radius: 8px;
  font-weight: bold;
  background-position: left;
  transition: all 300ms ease-in-out;
}

.primary__btn {
  height: clamp(50px, 4.5vw, 55px);
  background: var(--primary-btn);
  background-size: cover;
  padding: 15px 40px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  color: white;
  border-radius: 10px;
  background-position: left;
  transition: all 300ms ease-in-out;
}

.accountCard {
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
  place-content: center;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 17.7729px 54.686px rgba(27, 25, 86, 0.06);
  border-radius: 21.8744px;
  height: 130px;
}

.bgSignin {
  background: url("./assets/bg/signup.jpg");
  background-position: center;
  background-size: cover;
}

.bgSignup {
  background: url("./assets/bg/signin.jpg");
  background-position: center;
  background-size: cover;
}

.p-paginator .p-dropdown {
  width: fit-content !important;
}
